/* ---------media queries------------- */
nav .bx {
    display: none;
}

@media screen and (max-width: 875px) {

    header{
        height: 50vh;
    }
    nav .bx {
        display: block;
        font-size: 25px;
    }
    summery{
        margin-top: 15px;
    }
    nav ul {
        background: var(--main-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .bx {
        position: absolute;
        top: 25px;
        left: 25px;
    }
}
@media screen and (max-width: 875px){
    .box1,
    .box2 {
        flex-basis: 100%;
    }

    .box1 {
        display: flex;
        justify-content: center;
    }

    .box2 h1 {
        padding-top: 15px;
        padding-left: 10px;
    }

    .about-items {
        display: flex;
        flex-direction: column;
        /* padding: 0px 20px; */
    }

    .about-ul {
        padding-left: 20px;
    }

    .abouttxt {
        padding-left: 10px;
        font-size: 0.9rem;
    }
    
}



@media screen and (max-width: 600px) {

    .hide {
        display: none;
    }

    .Home {
        font-size: 1rem;
        margin-top: 20%;
    }

    home h1 {
        font-size: 25px;
    }

    .maintxt {
        color: var(--main-color);
        font-size: 30px;
    }

    header {
        background-image: none;
        background: black;
        height: inherit;
    }

    nav .bx {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: var(--main-color);
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .bx {
        position: absolute;
        top: 25px;
        left: 25px;
    }

    .box1,
    .box2 {
        flex-basis: 100%;
    }

    .box1 {
        display: flex;
        justify-content: center;
    }

    .box2 h1 {
        padding-top: 15px;
        padding-left: 10px;
    }

    .about-items {
        display: flex;
        flex-direction: column;
        /* padding: 0px 20px; */
    }

    .about-ul {
        padding-left: 20px;
    }

    .abouttxt {
        padding-left: 10px;
        font-size: 0.9rem;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
    }

    .footer {
        padding: 10px 20px;
        font-size: 14px;

    }
}